In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mar Del Plata,-38.0023,-57.5575,65.08,92,85,14.00,AR,2022-04-09 01:03:33
1,1,Cape Town,-33.9258,18.4232,59.27,71,0,11.01,ZA,2022-04-09 01:03:34
2,2,Portland,45.5234,-122.6762,55.45,60,12,8.01,US,2022-04-09 01:00:09
3,3,Atuona,-9.8000,-139.0333,79.74,77,99,17.43,PF,2022-04-09 01:03:34
4,4,Nelson Bay,-32.7167,152.1500,69.10,94,52,15.26,AU,2022-04-09 01:03:35
...,...,...,...,...,...,...,...,...,...,...
560,560,Semnan,35.5729,53.3971,67.84,18,100,2.30,IR,2022-04-09 01:19:12
561,561,Jinchang,38.4953,102.1739,62.91,14,0,8.72,CN,2022-04-09 01:19:13
562,562,Sangar,63.9242,127.4739,24.03,91,51,2.13,RU,2022-04-09 01:19:13
563,563,Qasigiannguit,68.8193,-51.1922,14.25,96,100,5.48,GL,2022-04-09 01:19:14
564,564,Notre-Dame-De-Gravenchon,49.4894,0.5719,42.48,94,100,5.97,FR,2022-04-09 01:19:14

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

#try:
    #min_temp = float(input("What is the minimum temperature you would like for your trip? "))
    #max_temp = float(input("What is the maximum temperature you would like for your trip? "))
#except:
    #print ("Order value is invalid")

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Atuona,-9.8000,-139.0333,79.74,77,99,17.43,PF,2022-04-09 01:03:34
9,9,Butaritari,3.0707,172.7902,80.22,82,100,13.47,KI,2022-04-09 01:03:36
10,10,Sao Filipe,14.8961,-24.4956,76.19,64,40,9.86,CV,2022-04-09 01:03:36
11,11,Avarua,-21.2078,-159.7750,86.05,74,100,11.50,CK,2022-04-09 01:03:37
26,26,Rikitea,-23.1203,-134.9692,79.14,74,11,17.05,PF,2022-04-09 01:03:43
30,30,Vanimo,-2.6741,141.3028,82.27,76,100,2.01,PG,2022-04-09 01:03:45
41,41,Vaini,-21.2000,-175.2000,84.36,79,20,6.91,TO,2022-04-09 01:03:49
43,43,San Andres,12.5847,-81.7006,82.42,78,40,12.66,CO,2022-04-09 01:03:50
45,45,Acapulco,16.8634,-99.8901,79.43,66,59,5.28,MX,2022-04-09 00:59:56
48,48,Pawayan,28.0667,80.1000,75.92,18,0,4.97,IN,2022-04-09 01:04:52

In [13]:
preferred_cities_df.count()

City_ID       162
City          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
Country       162
Date          162
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3       Atuona      PF     79.74  -9.8000 -139.0333
9   Butaritari      KI     80.22   3.0707  172.7902
10  Sao Filipe      CV     76.19  14.8961  -24.4956
11      Avarua      CK     86.05 -21.2078 -159.7750
26     Rikitea      PF     79.14 -23.1203 -134.9692
30      Vanimo      PG     82.27  -2.6741  141.3028
41       Vaini      TO     84.36 -21.2000 -175.2000
43  San Andres      CO     82.42  12.5847  -81.7006
45    Acapulco      MX     79.43  16.8634  -99.8901
48     Pawayan      IN     75.92  28.0667   80.1000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng                 Hotel Name
3       Atuona      PF     79.74  -9.8000 -139.0333                Villa Enata
9   Butaritari      KI     80.22   3.0707  172.7902         Isles Sunset Lodge
10  Sao Filipe      CV     76.19  14.8961  -24.4956              Hotel Xaguate
11      Avarua      CK     86.05 -21.2078 -159.7750               Paradise Inn
26     Rikitea      PF     79.14 -23.1203 -134.9692            People ThankYou
30      Vanimo      PG     82.27  -2.6741  141.3028      Vahmoneh Lodge Vanimo
41       Vaini      TO     84.36 -21.2000 -175.2000        Keleti Beach Resort
43  San Andres      CO     82.42  12.5847  -81.7006         Hotel Arena Blanca
45    Acapulco      MX     79.43  16.8634  -99.8901  HS Hotsson Smart Acapulco
48     Pawayan      IN     75.92  28.0667   80.1000                 SBM TOILET

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))